<body>
  <section id="publicaciones" class="mt-5">
    <div class="container"  style="margin-top: 110px">
      <button class="btn btn-lg btn-danger" data-toggle="modal" data-target="#modalCiudad">Nueva Publicación</button>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let ciudad of publicaciones">     
          <div class="card_ciudad">
            <div class="card">
              <div class="card-body text-center">
                <p>
                  <img class="img-fluid" src="{{ciudad.image}}" >
                </p>
                <h4  class="card-title">{{ciudad.name}}</h4>
                <p class="card-text">
                  {{ciudad.recipe }}
                </p>
                <td>
                  <button class="btn btn-danger" style="margin: 5px" (click)="onDeleteCiudad(ciudad.id)">Detete</button>
                </td>
                  <td>
                  <button class="btn btn-info" style="margin-left: 5px" data-toggle="modal" data-target="#modalCiudad"
                  (click)="onPreUpdateCiudad(ciudad)">Actualizar</button>
                </td>
               
             </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<app-modal></app-modal>
