<!doctype html>
<html>
<head>
  <title></title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container" style="margin-top: 100px;">   
    <h1 class="align-content-center" style="font-family: cursive; text-align: center;">Mi Album</h1>
    <br>
    <div class="row">       
      <div class="col-md">        
          <div class="card">
            <img class="card-img-top" src="/assets/images/img7.jpg">            
            <div class="card-body">
              <h4 class="card-title">China</h4>
              <p class="card-text">China es una nación muy poblada de Asia Oriental cuyos vastos 
                paisajes abarcan praderas, desiertos, montañas, lagos, ríos y más de 14,000 km de 
                costa. La capital, Pekín, mezcla la arquitectura moderna con los sitios históricos 
                como el complejo del palacio de la Ciudad Prohibida y la plaza de Tiananmén </p>
            </div>
          </div>          
      </div>
      <br>

      <div class="col-md">        
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Dubai </h4>
              <p class="card-text">Dubái es una ciudad emirato de los Emiratos Árabes Unidos conocida
                 por su lujoso comercio, la arquitectura ultramoderna y su vida nocturna animada. Burj 
                 Khalifa, una torre de 830 m de alto, domina el paisaje lleno de rascacielos. A sus pies
                  se encuentra la Fuente de Dubái, con coreografías de chorros y luces al ritmo de la música. </p>
            </div>
            <img class="card-img-bottom" src="/assets/images/img8.jpg">                        
          </div>          
      </div>
    </div>
    <br>
  </div>
</body>
</html>